.header {
  background-color: #dcbe87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
}

.header > * {
  margin: .5rem;
}

.header__heading {
  text-decoration: none;
}

.user-wrapper {
  display: flex;
}

.user-wrapper > * {
  margin: 0 .5rem;
}

.right-wrapper > * {
  display: flex;
  flex-direction: column;
}

img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}