main {
    height: 100%;
}

.main__content { 
    /* padding: 2rem 10rem; */
    max-width: 800px;
    margin: 0 auto;
}


.page__title {
    padding: 1rem 0;
}

form {
    width: 80%;
}

form > * {
    margin-bottom: 1rem;
}

label,
input {
    display: inline-block;
}

label {
    width: 20%;
}

input {
    padding: 1rem .5rem;
    float: none;
    width: 20rem;
}
